---

---

<div class="bg-cover bg-center bg-no-repeat bg-main-pattern min-h-screen">
    <slot/>
    <div class="flex justify-center items-center flex-col text-center">
        <img class="max-w-60 w-1/2 animated-fade-in animated-size-in" src="/img/R5R-Logo-White.gif" alt="logo">
        <span class="font-panton-black text-r5-title font-black tracking-widest leading-none uppercase">R5Reloaded</span>
        <p class="text-[1.1rem] font-extralight tracking-wide animate-down">Still figuring out what would be some better text to put here</p>
    </div>
</div>
